@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}
body {
    background-image: url(slide4.jpg);
    background-size: cover;
}


/*--------------------navbar-design------------------------*/


li a button {    
    color: #ffff;
    text-decoration: none;
}
header {    
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}
header p {
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    margin-left: 30px;
}
.links {
    list-style: none;
}
.links li {
    display: inline-block;
    padding: 0 20px;
}
button {
    padding: 9px 25px;
    background-color: #0099e6;
    border: none;
    border-radius: 50px;
}
button:hover {
    background-color: #66ccff;
}

/*----------------------------navbar-design_over-----------------*/


/*-------------------------image-slideshow---------------------*/


.container {
    position: absolute;
    width: 600px;
    height: 300px;
    left: 330px;
    top: 150px;
    transform: translate(0);
    transition: 0.5s all;
}
.container img {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}
.container:hover {
    box-shadow: 6px 6px 40px 10px rgb(6, 243, 6);
    border-radius: 20px;
}


/*------------------------image-slideshow_over-----------------------*/


/*------------------------card-design--------------------------------*/

.grid {
    margin-top: 350pt;
    margin-left: 40px;
    margin-bottom: 100px;
    display: grid;
    width: 75em;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(20rem,7fr));
    align-items: start;
}
.gride-items{
    background-color: rgb(155, 147, 147);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    margin-right: 10px;
}
.card {
    opacity: 8;
}
.card-img {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
.card-content {
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 30px;
}
.card-content h1{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
.card-content p {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
}
.card-btn {
    display: block;
    text-align: center;
    background-color: rgba(149, 236, 8, 0.932);
    margin-left: 60px;
    margin-bottom: 30px;
    
}
.card-btn:hover {
    transform: translateY(3s);
}

